@using CutelPhoneGame.Core.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BasicLeaderboardViewModel
@{
    ViewBag.Title = "Basic Leaderboard";
}

<div class="container-sm mt-2">
    <div class="card mb-2">
        <div class="card-header">
            Basic Leaderboard
        </div>
    
        <div class="card-body">
            <a class="btn btn-primary" target="_blank" asp-action="Public">Public Basic Leaderboard (new tab)</a>
        </div>
    </div>
    
    <partial name="_Paginator" model="@Model.Pagination"/>

    <table class="table table-bordered align-middle">
        <tr>
            <th>Name</th>
            <th>PIN</th>
            <th>Unique Captures</th>
            <th>Total Captures</th>
        </tr>

        @foreach (PlayerModel player in Model.Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Pin.ToString("D4")</td>
                <td>@(player.Captures!.GroupBy(c => c.FromNumber).Count())</td>
                <td>@player.Captures!.Count</td>
            </tr>
        }
    </table>

    <partial name="_Paginator" model="@Model.Pagination"/>
</div>
