@using CutelPhoneGame.Core.Models
@model PublicBasicLeaderboardViewModel
@{
    ViewBag.Title = "Public Basic Leaderboard";
    ViewBag.IgnoreNavItems = true;

    PlayerModel? mostUniqueCapturesPlayer = Model.Players.MaxBy(p => p.Captures!.GroupBy(c => c.FromNumber).Count());
    PlayerModel? mostCapturesOverall = Model.Players.MaxBy(p => p.Captures!.Count);

    uint count = 1;
}

<div class="container-sm mt-2">
    <div class="d-flex justify-content-center my-2">
        <div class="card mx-1" style="width: 16rem;">
            <div class="card-body user-select-none text-center">
                <h5 class="card-title">Most Unique Captures</h5>
                <p class="card-text fs-3"><span class="badge bg-secondary">Pin @(mostUniqueCapturesPlayer?.Pin.ToString() ?? "None")  <span class="badge bg-white text-dark">@(mostUniqueCapturesPlayer?.Captures!.GroupBy(c => c.FromNumber).Count() ?? 0)</span></span></p>
            </div>
        </div>
        
        <div class="card mx-1" style="width: 16rem;">
            <div class="card-body user-select-none text-center">
                <h5 class="card-title">Most Captures Overall</h5>
                <p class="card-text fs-3"><span class="badge bg-secondary">Pin @(mostCapturesOverall?.Pin.ToString() ?? "None") <span class="badge bg-white text-dark">@(mostCapturesOverall?.Captures!.Count ?? 0)</span></span></p>
            </div>
        </div>
    </div>
    
    <table class="table table-bordered align-middle">
        <tr>
            <th>Position</th>
            <th>Pin</th>
            <th>Unique Captures</th>
            <th>Total Captures</th>
        </tr>

        @foreach (PlayerModel player in Model.Players)
        {
            <tr>
                <td class="fw-bold">#@count</td>
                <td>@player.Pin</td>
                <td>@(player.Captures!.GroupBy(c => c.FromNumber).Count())</td>
                <td>@player.Captures!.Count</td>
            </tr>

            count++;
        }
    </table>
</div>